* {
    margin: 0;
    padding: 0;
}

.img-area {
    display: flexbox;
    justify-content: left;
    border: 1px solid;
    margin-left: 30%;
    margin-right: 40%;
    margin-top: 0%;

}

.title-principal {
   display: flex;
   float: right;
   margin-top: 0;
}


.p {
    padding-top: 10%;
    text-align: right;
    margin-right: 10%;
   
}

.price {
    text-align: right;
    margin-right: 700px;
    margin-bottom: 100px;
}

.button {
   
    
    border: none;
    height: 30px;
    width: 100px;
    color: rgb(3, 3, 3);
    background-color: rgb(255, 126, 5);
    font-size: 1em;
    border-radius: 5px;
    float: right;
    margin-right: 50%;




    /* height: 40px;
    display: fle;
    justify-content: center;
    align-items: center;
    color: #d85a00;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    border: solid;
    border-radius: 5px;
    cursor: pointer; */
}

.comp {
    text-align: center;
    margin: 100px;

}